.user-card {
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
  text-align: center;
  position: relative;
}
.user-card .profile-avatar {
  border-radius: 50%;
  margin-top: 2rem;
  display: inline-block;
  position: relative;
}
.user-card .profile-avatar img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.user-card .profile-avatar .profile-settings-menu {
  position: absolute;
  right: 0;
  bottom: 0;
}
.user-card .profile-avatar .profile-settings-menu .profile-settings-button {
  cursor: pointer;
  text-align: left;
  box-shadow: 10px 0 20px -20px #888;
  background: #426696;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  color: #daf9ff;
}
.user-card .profile-avatar .profile-settings-menu .profile-settings-button svg {
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
  width: 0.8rem;
  height: 0.8rem;
}
.user-card .profile-avatar .profile-settings-menu .profile-settings-button:hover {
  background: #5c8fd1;
  color: #ffffff;
}
.user-card .profile-avatar .profile-settings-menu .user-menu {
  z-index: 1;
  position: absolute;
  background: #426696;
  top: calc(100% + 0.5rem);
  left: 50%;
  width: max-content;
  transform: translateX(calc(-50% - 2rem + 0.6rem));
  padding: 0.6rem 0;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  text-align: left;
}
.user-card .profile-avatar .profile-settings-menu .user-menu::after {
  content: " ";
  position: absolute;
  bottom: calc(100%);
  left: calc(50% + 2rem - 0.6rem);
  margin-left: -0.4rem;
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent #426696 transparent;
}
.user-card .profile-avatar .profile-settings-menu .user-menu .user-menu-item {
  cursor: pointer;
  padding: 0.2rem 0.8rem;
  color: #daf9ff;
}
.user-card .profile-avatar .profile-settings-menu .user-menu .user-menu-item svg {
  width: 0.7rem;
  height: 0.7rem;
  margin-bottom: 0.15rem;
  margin-right: 0.4rem;
}
.user-card .profile-avatar .profile-settings-menu .user-menu .user-menu-item:hover {
  background: #5c8fd1;
  color: #ffffff;
}
.user-card .profile-username {
  color: #426696;
  font-weight: bold;
  font-size: 1.2rem;
}
.user-card .profile-score {
  font-size: 1rem;
  cursor: default;
  margin-top: 0.2rem;
  width: max-content;
  display: inline-block;
}
.user-card .profile-score .profile-wins,
.user-card .profile-score .profile-losses {
  border-radius: 1rem;
  padding: 0.1rem 0.5rem 0.1rem 0.3rem;
  color: #242424;
}
.user-card .profile-score .profile-wins svg,
.user-card .profile-score .profile-losses svg {
  margin-bottom: 0.11rem;
}
.user-card .profile-score .profile-wins {
  display: inline-block;
  background: #98ff98;
}
.user-card .profile-score .profile-losses {
  margin-left: 0.25rem;
  display: inline-block;
  background: #ff8080;
}
.user-card .profile-score .profile-rate {
  font-size: 0.65rem;
  margin-top: 0.25rem;
  background: #ff8080;
  width: 70%;
  height: 16px;
  border-radius: 7.5px;
  border: 1.6px solid #222222;
  display: inline-block;
}
.user-card .profile-score .profile-rate .rate-indicator {
  text-align: right;
  padding-right: 1.6px;
  margin-left: -0.8px;
  margin-top: -0.5px;
  height: 14px;
  border-radius: 6.4rem;
  background: #98ff98;
  min-width: 16px;
  font-weight: bold;
}
.user-card .login-register a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #426696;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
