* {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: grid;
  justify-items: center;
  align-items: center;
}

.glass {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255, 0.3));
  min-height: 80vh;
  width: 60%;
}
