.avatars-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(59, 89, 152, 0.2);
  backdrop-filter: blur(2px);
  animation: opacity-keyframe 0.1s ease-out;

  .avatar-modal-bgr-click {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }

  .avatars-container {
    width: 60vw;
    background: #426696;
    position: absolute;
    left: 20vw;
    top: calc((100vh - 5.5rem) / 2);
    border-radius: 0.25rem;
    box-shadow: 10px 0 20px -20px #888;
    overflow-x: auto;

    .avatars-wrapper {
      width: max-content;
      .avatar {
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
        border-radius: 50%;
        margin-left: 0.5rem;
        &:last-child {
          margin-right: 0.5rem;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }

    &::-webkit-scrollbar {
      height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(203, 238, 255);
      border-radius: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      height: 0.5rem;
    }
  }
}
